.repo-languages-holder ul:first-child {
  height: 10px;
  display: flex;
  border-radius: 100vh;
  overflow: hidden;
  margin-bottom: 10px;

  & li {
    height: 100%;
  }
}

.repo-lang-item {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;

  & + * {
    margin-top: 6px;
  }
}

.repo-lang-bollet-clr {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 0%, 0.7);
}

.lang-percent {
  font-weight: bold;
  text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.7);
}
