button {
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 7px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--secondary-clr);
  color: #fff;
  padding: 8px 14px;
  border-radius: var(--radius);
  text-decoration: none;

  transition: 0.25s;

  &:not(.disabled):hover {
    background-color: var(--light-clr);
  }

  &.disabled {
    background-color: var(--trans-clr);
    cursor: not-allowed;
  }
}
